/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left
*/

body {
  padding: 30px;
  background-color:#E0E0E2;
  line-height: 1.6em;
}

#main-title{
  padding:25px;
  background-color: #7a0019;
  color:#F9C803;
  text-align: left;
}
.section {
  margin:0;
	padding:0;
  background-color:#19191E;
  color:#F9C803;

  border:5px #a60c14 solid;
  margin-bottom: 20px;
  padding:10px;
  padding-top:0;
}
/* Style selector/ navbar *******/
#style-selector {
  position: fixed;
  background-color: #7a0019;
  left: 0;
  right: 0;
  top: 0;
  height: 46px;
  padding-top: 10px;
}

#style-selector ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style-selector li {
  float: left; /*explore what happens if this is 'right' instead*/
}

#style-selector li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
}

#style-selector li a:hover {
  background-color: #F9C803;
}


